html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 100%;
}

#geocode {
    position: absolute;
    left: 30px;
    top: 30px;
    z-index: 3;
}

#location {
    color: grey;
}



