/*Google Map Styling*/

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 100%;
}

/*Geocode Styling*/

#geocode {
    position: absolute;
    top: 30px;
    left: 30px;
    z-index: 3;
    width: 200px;
}

/*Listview Header*/

#header {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 300px;
    height: 50px;
    background-color: white;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border: 1px solid lightgrey;
}

#header h5 {
    margin-left: 80px;
}

/*Listview Filter*/
#search {
    position: absolute;
    top: 79px;
    right: 30px;
    width: 300px;
    border-radius: 0px !important;
}